{% extends 'base.html' %}
{% load static %}
{% block head %}
<p>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="">Home</a>
        <a class="nav-item nav-link active" href="/portfolio/">Portfolio</a>
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
        <a class="btn btn-outline-secondary ml-auto" href="">Random?</a>
    </div>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active">Hello <span>{{request.user.username}}&#128075;&#127996;</span><span class="sr-only">(current)</span></a>
        <a class="btn btn-outline-secondary" href="/accounts/logout">Log Out &#x2934;</a>
    </div>
</p>
{% endblock %}
{% block content %}
{% load static %}
<div class="col-8 mx-auto">
    <div class="row">
        <div class="col" style="color:#1184ff;"><h4>Portfolio Stats</h4></div>
    </div>
    <div class="row mx-auto">
        <div class="col" style="background-color:#E9ECEF; color:#666666;"><h4>All Time</h4></div>
        <div class="col text-center"><h4>--</h4></div>
        <div class="col text-center"><h4>--</h4></div>
        <div class="col text-center"><h4>--</h4></div>
        <div class="col text-center"><h4>--</h4></div>
    </div>
    <div class="row mx-auto">
        <div class="col" style="background-color:#E9ECEF; color:#666666;"><h4>Today</h4></div>
        <div class="col text-center"><h4>--</h4></div>
        <div class="col text-center"><h4>--</h4></div>
        <div class="col text-center"><h4>--</h4></div>
        <div class="col text-center"><h4> </h4></div>
    </div><br><br><br>
    <div class="row">
        <div class="col" style="color:#1184ff;"><h4>{{request.user.username}}'s Portfolio &#128176;</h4></div>
        <a type="submit" class="btn btn-outline-primary mr-3" href="/portfolio/add/">Buy Stocks</a>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Company</th>
            <th scope="col">Exchange</th>
            <th scope="col">Market_Price</th>
            <th scope="col">Buy_Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Bougth_On</th>
            <th scope="col">Profit/Loss</th>
            <th scope="col">P/L%</th>
            <th scope="col">Refresh</th>
            <th scope="col" class="text-center">Sell</th>
            <th scope="col" class="ml-5 text-right">LiveData</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
        <tr class="text-center">
            <th scope="row">{{stock.ticker_symbol}}</th>
            <td>{{stock.ticker_company}}</td>
            <td>{{stock.ticker_exchange}}</td>
            <td style="color:{{stock.color}};">{{stock.market_price}}</td>
            <td>{{stock.buy_price}}</td>
            <td>{{stock.buy_quantity}}</td>
            <td>{{stock.bought_when}}</td>
            <td style="color:{{stock.color}};">{{stock.pl_amount}}</td>
            <td style="color:{{stock.color}};">{{stock.pl_percent}} %</td>
            <td><a class="btn btn-outline-success" href="/portfolio/">&#8635;</a></td>
            <td>
                <form class="form-inline" method="post">{% csrf_token %}
                    <div class="form-group">
                        <input class="form-control w-25" name="qty" placeholder="Qty"><button class="btn btn-secondary" name="sell" value="{{stock.ticker_symbol}}">Sell</button>
                    </div>
                </form>
            </td>
            <td><a class="ml-5 btn btn-outline-primary" href="https://in.finance.yahoo.com/quote/{{stock.ticker_symbol}}" target="_blank">Live</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
