{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mb-1">
    <div class="row mx-auto">
        <div class="col" style="color:green;"><h4>User's Portfolio</h4></div>
        <a type="submit" class="btn btn-outline-success text-right" href="/portfolio/add/">Add Stocks</a>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Company</th>
            <th scope="col">Exchange</th>
            <th scope="col">Market_Price</th>
            <th scope="col">Buy_Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Profit/Loss</th>
            <th scope="col">P/L Percent</th>
            <th scope="col">Action</th>
            <th scope="col">Live Data</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
        <tr class="text-center">
            <th scope="row">{{stock.ticker_symbol}}</th>
            <td>{{stock.ticker_company}}</td>
            <td>{{stock.ticker_exchange}}</td>
            <td>--</td>
            <td>{{stock.buy_price}}</td>
            <td>{{stock.buy_quantity}}</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
