{% extends 'base.html' %}
{% load static %}
{% block head %}
<p>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="">Home</a>
        <a class="nav-item nav-link" href="/portfolio/">Portfolio</a>
        <a class="nav-item nav-link active" href="/portfolio/history/">PortfolioHistory</a>
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
        <a class="btn btn-outline-secondary ml-auto" href="">Random?</a>
    </div>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active">Hello <span>{{request.user.username}}&#128075;&#127996;</span><span class="sr-only">(current)</span></a>
        <a class="btn btn-outline-secondary" href="/accounts/logout">Log Out &#x2934;</a>
    </div>
</p>
{% endblock %}
{% block content %}
{% load static %}
<a class="ml-3" href="/portfolio/"> < &nbsp; Back to portfolio </a>
<div class="col-8 mx-auto">
    <div class="row">
        <div class="col" style="color:#1184ff;"><h4>All Transactions &#128176;</h4></div>
        <div class="col text-right"><a type="submit" class="btn btn-outline-primary" href="/portfolio/history/">Portfolio History</a></div>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col"  class=text-left>Date</th>
            <th scope="col">Symbol</th>
            <th scope="col">Company</th>
            <th scope="col">Exchange</th>
            <th scope="col">Buy_Avg</th>
            <th scope="col">Action</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">P/L</th>
        </tr>
        </thead>
        <tbody>
        {% for item in transactions %}
        <tr class="text-center">
            <th scope="row" class=text-left>{{item.date}}</th>
            <td>{{item.symbol}}</td>
            <td>{{item.company}}</td>
            <td>{{item.exchange}}</td>
            <td>{{item.avg_buy}}</td>
            <td>{{item.ttype}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td style="color:{{item.pcolor}}; white-space: nowrap;">{{item.pl}} ({{item.plper}}%)</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
